{% include base_path %}
<!-- start custom head snippets -->
<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>
<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/apple-touch-icon.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/favicon-16x16.png" sizes="16x16"/>
<link rel="icon" type="image/png" href="{{ base_path }}/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/favicon-48x48.png" sizes="48x48"/>
<link rel="icon" type="image/png" href="{{ base_path }}/favicon-96x96.png" sizes="96x96"/>
<link rel="icon" type="image/png" href="{{ base_path }}/android-chrome-192x192.png" sizes="192x192"/>
<link rel="icon" type="image/png" href="{{ base_path }}/android-chrome-512x512.png" sizes="512x512"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" type="image/x-icon" href="{{ base_path }}/favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>
<!-- end custom head snippets -->
